*{
	padding: 2px;
	margin: 1px;
	color: #aaa;
	text-align: center;
}
h3{
	padding: 2px;
	margin: 1px;
	color: #aaa;
	text-align: left;
}


html, body{
	background-color : #5e2129;
}
nav, article{
	border: 2px solid rgb(255, 122, 10);
	margin: 1rem;
	border-radius: 10px;
	padding: 1rem;
}

section{
	border: 2px solid rgb(255, 122, 10);
	margin: 1rem;
	border-radius: 10px;
	padding: 1rem;
}
section{
	background-color: black;
}